/**
 * author: Tsong
 * time: 20/03/2024 19:23
 */
.aptmt-container{
  display: flex;
  justify-content: center;
  align-items: center;
  .aptmt-card{
    width: 75%;
  }
  .aptmt-title{
    padding: 10px;
    display: flex;
    flex-direction: column;

    .aptmt-title-row{
      display: flex;
    }
    .aptmt-title-row-1{
      justify-content: center;
    }
    .aptmt-title-row-2{
      justify-content: space-between;
    }


    .aptmt-title-name{
      font-size: 26px;
    }
    .aptmt-title-info{
      display: flex;
      font-size: 16px;
      .aptmt-title-info-tag{
        margin-right: 10px;
      }
      .aptmt-title-info-val{
        font-weight: normal;
      }
    }
  }
  .aptmt-content{
    display: flex;
    flex-direction: column;
    .aptmt-item{
      padding: 10px;
      display: flex;
      .aptmt-item-title{
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
      }
      .aptmt-item-content{
        font-size: 16px;
      }
    }
  }
}

