/**
 * author: Tsong
 * time: 20/03/2024 19:23
 */
@import "@/common/style/custom-style.less";

.my-appointment{

  .my-appointment-title{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: @mhs-color 2px solid;
    font-size: 24px;
    font-weight: 600;
    color: @mhs-color;
  }

  .back-icon{
    color: @mhs-color;
    font-size: 40px !important;
    cursor: pointer;
  }
}
