/**
 * author: Tsong
 * time: 20/03/2024 19:54
 */
@import "@/common/style/custom-style.less";
.detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-bottom: 5%;

  .detail-card{
    width: 75%;
  }

  .detail-title{
    padding: 10px;
    display: flex;
    flex-direction: column;

    .detail-title-row-1{
      justify-content: center;
    }
    .detail-title-row-2{
      justify-content: space-between;
    }
    .detail-title-row-3{
      justify-content: space-between;
      width: 100%;
    }

    .detail-title-row{
      display: flex;
      align-items: center;

      .detail-title-name{
        font-size: 26px;
      }

      .detail-title-info{
        display: flex;

        font-size: 16px;
        .detail-title-info-tag{
          margin-right: 10px;
          //margin-left: 70px;
          font-weight: bold;
        }
        .detail-title-info-val{
          font-weight: normal;
        }
      }
    }
  }

  .detail-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 5%;

    .detail-content-info{
      display: flex;
      font-size: 16px;
      flex-direction: column;

      .detail-title-info-tag{
        font-weight: bold;
      }
      .detail-content-info-val{
        font-weight: normal;
      }
    }
  }

  .prescription-list-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;


    .presecription-list-tag{
      font-weight: bold;
    }
    .prescription-llist-val{
      font-weight: normal;
    }
  }
}
