/**
 * author: Tsong
 * time: 20/03/2024 13:57
 */
@import "@/common/style/custom-style.less";

.reset-page-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-card-meta-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-card-meta-title{
      width: 100%;
      font-size: 32px;
      font-style: italic;
      color: @mhs-color;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px 0 5px;
      border-radius: 6px;
    }
  }
}
.reset-form {
  margin-top: 20px;
  min-width: 500px;
  .reset-form-reset {
    float: left;
    margin-top: 5px;
  }
  .ant-col-rtl {
    float: left;
  }
  .reset-form-button {
    background-color: @mhs-color;
    width: 100%;
  }

  .reset-form-item{
    .ant-form-item-label {
      width: 30%;
    }
  }
}
