/**
 * author: Tsong
 * time: 17/03/2024 01:10
 */
@import "@/common/style/custom-style.less";

.mhs-home{
  padding: 20px 20px 0 20px;

  .home-team{
    padding: 30px;
  }
  .home-team-title{
    margin-top: 30px;
    width: 100%;
    border-bottom: @mhs-color 2px solid;
    font-size: 20px;
    font-weight: 600;
    color: @mhs-color;
  }
  .home-team-list{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;

    .home-team-card{
      text-align: center;
      @media screen and (max-aspect-ratio: 1/1) {
        width: 20%;
        min-height: 300px;
        margin: 1%;
        font-size: 10px;
        .ant-card-meta-title{
          font-size: 10px !important;
        }
      }
      @media screen and (min-aspect-ratio: 1/1) {
        width: 20%;
        min-height: 350px;
        margin: 1%;
      }
      .ant-card-meta-title{
        white-space: normal;
        word-wrap: break-word;
        text-overflow: clip;
      }
    }
  }
}

.home-carousel{
  margin-bottom: 10px;
  height: 300px !important;
  width: 100%;
  .home-carousel-img{
    height: 300px !important;
    width: 100%;
  }
}

