/**
 * author: Tsong
 * time: 16/03/2024 19:41
 */
@import "@/common/style/custom-style.less";
.ongoing-detail-page-container{
  width: 100%;
  display:flex;
  flex-direction:column;
  padding: 10px;
  .back-icon{
    color: @mhs-color;
    font-size: 40px !important;
    cursor: pointer;
    margin-bottom: 50px;
  }
}

.ongoing-detail-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.ongoing-back-cotainer{
  width: 132px;
  height: 38px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.ongoing-back-button{
  display: inline-flex;
  align-items: center;
  width: 150px;
  font-size: 25px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: underline;
  color: @mhs-color;
  justify-content: flex-start;
  border: 0;
}
.ongoing-back-imgs{
  color:@mhs-color;
  line-height: 100%;
}
.ongoing-back-font{
  width: 77px;
  height: 38px;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: underline;
  text-align: center;
  color: @mhs-color;
  margin-left: 15px;
}
.ongoing-detail-card-style{
  width: 80%;
  margin-top: 30px;
}
.ongoing-detail-card-title{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ongoing-detail-card-title-line{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ongoing-detail-card-title-font1{
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  color: black;
}
.ongoing-detail-card-title-font2{
  font-size: 50px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}
.ongoing-detail-card-title-font3{
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: black;
  margin-left: 20px;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ongoing-detail-card-content{
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 200px;
}
.ongoing-detail-card-content-font1{
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ongoing-detail-card-content-font2{
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ongoing-detail-card-line{
  width: 100%;
  height: 1px;
  border-color: #F5F5F5;
  border-width: 1px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 20px;
}
.ongoing-detail-card-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ongoing-detail-button-container{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
}
.ongoing-detail-button{
  width: 160px;
  height: 60px;
  background-color: @mhs-color;
  color: #ffffff;
  font-size: 20px;
}
.ongoing-detail-modal-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ongoing-detail-input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ongoing-detail-input{

  font-size: 20px;
}
.ongoing-detail-select-container{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ongoing-detail-list-container{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  border: 1px;
  border-color: @mhs-color;
}
.ongoing-detail-select-tools{
  width: 300px;
}
.ongoing-detail-search{
  display: block;
  width: 500px;
}
.ongoing-table-style{
  width: 100%;
}